<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <!-- <img src="#" alt="Logo" class="logo"> -->
        <nav>
            <ul class="nav_links">
                <li><a href={{url_for("index")}}>Data Summary</a></li>
                <li><a href={{url_for("reports")}}>Daily Reports</a></li>
                <li><a href={{url_for("TVL")}}>Portfolio - TVL</a></li>
                <li><a href={{url_for("APR")}}>Portfolio - APR</a></li>
                <li><a href={{url_for("TVLGraphs")}}>TVL Graphs</a></li>
                <li><a href={{url_for("APRGraphs")}}>APR Graphs</a></li>
            </ul>
        </nav>
        <!-- <a class="cta" href="#"><button>Contact</button></a> -->
    </header>
    {% block body %}{% endblock %}
</body>
</html>