{% extends 'authbase.html' %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
<div class="auth-form">
    <img src="../static/logo.jpg" alt="Logo" class="logo">
    <h1 class="auth-desc">Registration</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="auth-line">{{ form.username(class_="auth-field") }}</div>
        <div class="auth-line">{{ form.password(class_="auth-field") }}</div>
        <div class="auth-line">{{ form.passwordRepeat(class_="auth-field") }}</div>
        <div class="auth-line">{{ form.submit(class_="auth-btn") }}</div>
    </form>

    <a class="login-redirect" href="{{ url_for('login') }}">Already have an accounts? Login here!</a>
</div>
{% endblock %}